Repository NADOOIT/NADOO-Wiki, pull requests merged in 2025-05, with the labels that each got.

#402 Anpassung
  docs/03-meetings/02-11er/README.md
Labels: wiki, meetings

#404 Hörbuch-Link
  README.md
Labels: verlinkungen

#412 Nachkorrekturen (01+02)
  docs/01-organisation/02-zeit_und_ausbildungsnachweise/03-ueberpruefung/README.md
  docs/01-organisation/08-firmenphilosophie/01-verhaltensregeln/README.md
  docs/02-arbeiten_bei_nadoo/01-rollen_und_aufgaben/05-teamkoordinator/README.md
  docs/02-arbeiten_bei_nadoo/01-rollen_und_aufgaben/README.md
  docs/02-arbeiten_bei_nadoo/02-training_und_vorbereitung/01-trainingsbeitraege/README.md
  docs/02-arbeiten_bei_nadoo/02-training_und_vorbereitung/README.md
Labels: wiki, rechtschreibung, du-anrede

#414 Korrekturen / Klärung
  docs/03-meetings/02-11er/README.md
  docs/03-meetings/README.md
Labels: rechtschreibung, stilanpassung, meetings, korrektur-inhalt

#421 Korrekturdurchsicht -> "04-tools" -> "02-vscode" bis "05-ki"
  docs/04-tools/03-intellij/01-installation/README.md
  docs/04-tools/04-terminal/README.md
Labels: wiki, rechtschreibung

#430 Nachkorrektur -> "05-kommunikation"
  docs/05-kommunikation/01-discord/01-einrichtung/README.md
  docs/05-kommunikation/02-webcam/01-droidcam/README.md
  docs/05-kommunikation/README.md
Labels: wiki, stilanpassung, du-anrede

#442 Korrektur: "06-entwicklung" -> "01-dokumentation" bis "05-python"
  docs/06-entwicklung/05-python/01-debugging/README.md
  docs/06-entwicklung/05-python/02-briefcase-toga/01-debugging/README.md
  docs/06-entwicklung/05-python/02-briefcase-toga/02-launchpad/README.md
  docs/06-entwicklung/05-python/02-briefcase-toga/03-speech-to-text/README.md
  docs/06-entwicklung/05-python/02-briefcase-toga/README.md
  docs/06-entwicklung/05-python/README.md
Labels: wiki, rechtschreibung, du-anrede, entwicklung

#445 Korrekturdurchsicht -> "06-entwicklung" (übrige)
  docs/01-organisation/02-zeit_und_ausbildungsnachweise/02-dateibenennung/README.md
  docs/05-kommunikation/01-discord/01-einrichtung/README.md
  docs/06-entwicklung/07-eigene_app/README.md
  docs/06-entwicklung/08-lizenzen_open_source/README.md
Labels: wiki, rechtschreibung, stilanpassung, du-anrede

#454 [#374][Branch 5] 05-kommunikation
  docs/05-kommunikation/01-discord/01-einrichtung/README.md
  docs/05-kommunikation/01-discord/README.md
  docs/05-kommunikation/02-webcam/01-droidcam/README.md
  docs/05-kommunikation/02-webcam/02-ios/README.md
  docs/05-kommunikation/02-webcam/README.md
  docs/05-kommunikation/README.md
Labels: documentation, stilanpassung, kommunikation, verlinkungen

#453 [#347][Branch 4] 04-tools
  docs/04-tools/01-github/01-repository/README.md
  docs/04-tools/01-github/02-branches/01-protection/README.md
  docs/04-tools/01-github/02-branches/README.md
  docs/04-tools/01-github/03-pull-requests/01-merge-konflikte/README.md
  docs/04-tools/01-github/03-pull-requests/02-code-review/README.md
  docs/04-tools/01-github/03-pull-requests/README.md
  docs/04-tools/01-github/04-issues/01-wiki-guide/README.md
  docs/04-tools/01-github/04-issues/02-labels/README.md
  docs/04-tools/01-github/04-issues/03-types/README.md
  docs/04-tools/01-github/04-issues/04-assignees/README.md
  docs/04-tools/01-github/04-issues/05-milestones/README.md
  docs/04-tools/01-github/04-issues/06-projects/README.md
  docs/04-tools/01-github/04-issues/07-discussions/README.md
  docs/04-tools/01-github/04-issues/08-templates/README.md
  docs/04-tools/01-github/04-issues/README.md
  docs/04-tools/01-github/05-actions/README.md
  docs/04-tools/01-github/06-notifications/README.md
  docs/04-tools/01-github/07-suche/README.md
  docs/04-tools/01-github/08-markdown/README.md
  docs/04-tools/01-github/README.md
  docs/04-tools/02-vscode/01-installation/README.md
  docs/04-tools/02-vscode/02-plugins/README.md
  docs/04-tools/02-vscode/03-workspaces/README.md
  docs/04-tools/02-vscode/04-editor/README.md
  docs/04-tools/02-vscode/05-debugging/README.md
  docs/04-tools/02-vscode/README.md
  docs/04-tools/03-intellij/01-ueberblick/README.md
  docs/04-tools/03-intellij/02-installation/README.md
  docs/04-tools/03-intellij/README.md
  docs/04-tools/04-terminal/README.md
  docs/04-tools/05-launchpad/01-ueberblick/01-windows/README.md
  docs/04-tools/05-launchpad/01-ueberblick/02-mac/README.md
  docs/04-tools/05-launchpad/01-ueberblick/README.md
  docs/04-tools/05-launchpad/02-features/01-menu/README.md
  docs/04-tools/05-launchpad/02-features/02-berechtigungen/README.md
  docs/04-tools/05-launchpad/02-features/03-tokens/README.md
  docs/04-tools/05-launchpad/02-features/04-zeiterfassung/README.md
  docs/04-tools/05-launchpad/02-features/05-projektverwaltung/README.md
  docs/04-tools/05-launchpad/02-features/06-aktivitaeten/README.md
  docs/04-tools/05-launchpad/02-features/07-wochenuebersicht/README.md
  docs/04-tools/05-launchpad/02-features/08-watchdog/README.md
  docs/04-tools/05-launchpad/02-features/09-create_snippets/README.md
  docs/04-tools/05-launchpad/02-features/10-function_names/README.md
  docs/04-tools/05-launchpad/02-features/11-t_bar_senden/README.md
  docs/04-tools/05-launchpad/02-features/README.md
  docs/04-tools/05-launchpad/03-videos/README.md
  docs/04-tools/05-launchpad/README.md
  docs/04-tools/06-ki/01-leitfaden/README.md
  docs/04-tools/06-ki/02-llm-mlx/README.md
  docs/04-tools/06-ki/03-gemini/README.md
  docs/04-tools/06-ki/README.md
  docs/04-tools/README.md
Labels: documentation, stilanpassung, tools, verlinkungen

#452 [#374][Branch 3] 03-meetings
  README.md
  docs/03-meetings/01-allgemein-morgens/README.md
  docs/03-meetings/02-11er/README.md
  docs/03-meetings/03-teamkoordination/README.md
  docs/03-meetings/04-33er/README.md
  docs/03-meetings/README.md
Labels: documentation, stilanpassung, meetings, verlinkungen

#456 [#374][Branch 7] 07-methoden_und_projekte
  README.md
  docs/07-methoden_und_projekte/01-projektmanagement/01-zeitmanagement/README.md
  docs/07-methoden_und_projekte/01-projektmanagement/02-planung/01-antrag/README.md
  docs/07-methoden_und_projekte/01-projektmanagement/02-planung/README.md
  docs/07-methoden_und_projekte/01-projektmanagement/03-projektmanagement/README.md
  docs/07-methoden_und_projekte/01-projektmanagement/04-phasen/README.md
  docs/07-methoden_und_projekte/01-projektmanagement/05-abschlussprojekt/README.md
  docs/07-methoden_und_projekte/01-projektmanagement/README.md
  docs/07-methoden_und_projekte/02-methoden/01-scrum/README.md
  docs/07-methoden_und_projekte/02-methoden/02-kanban/README.md
  docs/07-methoden_und_projekte/02-methoden/README.md
  docs/07-methoden_und_projekte/README.md
Labels: documentation, stilanpassung, methoden, verlinkungen

#455 [#374][Branch 6] 06-entwicklung
  README.md
  docs/06-entwicklung/01-dokumentation/README.md
  docs/06-entwicklung/02-clean_architecture/01-praxisbeispiel/README.md
  docs/06-entwicklung/02-clean_architecture/02-best_practices/README.md
  docs/06-entwicklung/02-clean_architecture/README.md
  docs/06-entwicklung/03-lizenzen_und_opensource/README.md
  docs/06-entwicklung/04-python/01-einstieg/01-virtuelle_umgebungen/README.md
  docs/06-entwicklung/04-python/01-einstieg/02-installation/README.md
  docs/06-entwicklung/04-python/01-einstieg/03-grundkonzept_bsp/README.md
  docs/06-entwicklung/04-python/01-einstieg/README.md
  docs/06-entwicklung/04-python/02-debugging/README.md
  docs/06-entwicklung/04-python/README.md
  docs/06-entwicklung/05-java/README.md
  docs/06-entwicklung/06-frameworks/01-nadoo_framework/README.md
  docs/06-entwicklung/06-frameworks/02-briefcase_und_toga/01-briefcase/README.md
  docs/06-entwicklung/06-frameworks/02-briefcase_und_toga/02-toga/README.md
  docs/06-entwicklung/06-frameworks/02-briefcase_und_toga/03-zusammenspiel/README.md
  docs/06-entwicklung/06-frameworks/02-briefcase_und_toga/04-debugging/README.md
  docs/06-entwicklung/06-frameworks/02-briefcase_und_toga/README.md
  docs/06-entwicklung/06-frameworks/README.md
  docs/06-entwicklung/07-digitale_produktentwicklung/01-idee_und_vorbereitung/README.md
  docs/06-entwicklung/07-digitale_produktentwicklung/02-umsetzung/README.md
  docs/06-entwicklung/07-digitale_produktentwicklung/03-feedback_und_testing/README.md
  docs/06-entwicklung/07-digitale_produktentwicklung/README.md
  docs/06-entwicklung/README.md
Labels: documentation, stilanpassung, entwicklung, verlinkungen

#490 [Issue #478 // Inhalt - #480][Branch 1] 01-organisation und 03-meetings
  docs/01-organisation/01-zeiterfassung/README.md
  docs/01-organisation/02-zeit_und_ausbildungsnachweise/01-beispiele/README.md
  docs/01-organisation/02-zeit_und_ausbildungsnachweise/README.md
  docs/01-organisation/03-arbeits_und_pausenzeiten/README.md
  docs/01-organisation/04-urlaub/README.md
  docs/01-organisation/05-krankmeldungen/README.md
  docs/01-organisation/07-datenschutz/README.md
  docs/01-organisation/08-firmenphilosophie/01-verhaltensregeln/README.md
  docs/01-organisation/08-firmenphilosophie/02-feedback-kultur/README.md
  docs/01-organisation/08-firmenphilosophie/03-kaizen/README.md
  docs/01-organisation/08-firmenphilosophie/README.md
  docs/01-organisation/README.md
  docs/03-meetings/01-allgemein-morgens/README.md
  docs/03-meetings/01-allgemein/README.md
  docs/03-meetings/02-11er/README.md
  docs/03-meetings/03-teamkoordination/README.md
  docs/03-meetings/04-33er/README.md
Labels: documentation, wiki, stilanpassung, korrektur-inhalt
